---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import LinkButton from '@components/LinkButton.astro'
import Hr from '@components/Hr.astro'
import Card from '@components/Card'
import Socials from '@components/Socials.astro'
import { getSortedPosts } from '@utils/getSortedPosts'
import { SITE, SOCIALS } from '@config'
import BottomNarbar from '@components/BottomNarbar'
import TodayGrid from '@components/lab/Card'

const posts = await getCollection('blog')

const sortedPosts = getSortedPosts(posts)
const featuredPosts = sortedPosts.filter(({ data }) => data.featured)
const recentPosts = sortedPosts.filter(({ data }) => !data.featured)

const socialCount = SOCIALS.filter(social => social.active).length
---

<Layout>
    <!-- <Header /> -->
    <BottomNarbar />
    <!-- <div class="container mx-auto">
         <video autoplay muted loop>
				<source src="videos/video-2@c.mp4" type="video/mp4">
			</video>
</div> -->

    <div class="overflow-hidden">
        <div class="fixed inset-0 z-[-1] h-full w-full">
            <video
                class="absolute h-full w-full object-cover"
                autoplay
                muted
                loop
                id="background-video"
            >
                <source src="/videos/space.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="relative z-10 mt-[20vh] p-5 text-left text-white">
            <h1 class="text-5xl font-bold drop-shadow-lg">Matthew 7:7-8</h1>
            <p class="mt-4 text-8xl drop-shadow-lg">
                7Ask, and it shall be given you; seek, and ye shall find; knock,
                and it shall be opened unto you: 8for every one that asketh
                receiveth; and he that seeketh findeth; and to him that knocketh
                it shall be opened.
            </p>
        </div>

        <!-- <TodayGrid client:only="react" /> -->
        <Footer />
    </div>
</Layout>
