---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import LinkButton from '@components/LinkButton.astro'
import Hr from '@components/Hr.astro'
import Card from '@components/Card'
import Socials from '@components/Socials.astro'
import { getSortedPosts } from '@utils/getSortedPosts'
import { SITE, SOCIALS } from '@config'
import BottomNarbar from '@components/BottomNarbar'
import TodayGrid from '@components/lab/Card'

const posts = await getCollection('blog')

const sortedPosts = getSortedPosts(posts)
const featuredPosts = sortedPosts.filter(({ data }) => data.featured)
const recentPosts = sortedPosts.filter(({ data }) => !data.featured)

const socialCount = SOCIALS.filter(social => social.active).length
---

<Layout>
    <!-- <Header /> -->
    <BottomNarbar />
    <!-- <div class="container mx-auto">
         <video autoplay muted loop>
				<source src="videos/video-2@c.mp4" type="video/mp4">
			</video>
</div> -->

    <div class="overflow-hidden">
        <div class="fixed inset-0 z-[-1] h-full w-full">
            <video
                class="absolute h-full w-full object-cover"
                autoplay
                muted
                loop
                id="background-video"
            >
                <source src="/videos/space.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="relative z-10 mt-[20vh] p-5 text-left text-white">
            <h1 class="text-5xl font-bold drop-shadow-lg">
                1 Corinthians 13:4-7
            </h1>
            <p class="mt-4 text-4xl drop-shadow-lg">
                4 Love is patient, love is kind. It does not envy, it does not
                boast, it is not proud. 5 It does not dishonor others, it is not
                self-seeking, it is not easily angered, it keeps no record of
                wrongs. 6 Love does not delight in evil but rejoices with the
                truth. 7 It always protects, always trusts, always hopes, always
                perseveres.
            </p>
        </div>

        <!-- <TodayGrid client:only="react" /> -->
        <Footer />
    </div>
</Layout>
